
@{
    ViewData["Title"] = "Student Registration";
}

<h2>Welcome to our College Registration Tool!</h2>

<h3>Click on the links below according to your necessity:</h3>
<a asp-action="RegistrationForm">Registration</a><br />
<a asp-action="ListOfRegistredStudents">View list of registred students</a>