<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    <div id="allScreen">
        <div id="header">
            <br />
            <h2>Student Registration Tool</h2>
            <hr />
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>